@import "tailwindcss";

@theme {
  --animate-underline: underline 0.6s ease 0.3s forwards;
  --animate-fade: fade 0.5s forwards;
  --animate-fade2: fade2 0.5s forwards;

  @keyframes underline {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade2 {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Background */
::-webkit-scrollbar-track {
  background: none;
}

/* Bar */
::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 8px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8;
}
